.main {}

.Coverpage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  flex-direction: column;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  font-family: MPLUS-Bl;
  text-align: center;
  min-height: 450px;
}



.Coverpage * {
  color: white;
}

.Coverpage>h1 {
  font-size: clamp(18px, calc(25px + 1vw), 45px);
  text-align: center;
  max-width: 15ch;
  z-index: 2;

}

.Coverpage>p {
  font-size: clamp(12px, calc(12px + 0.5vw), 20px);
  max-width: 50ch;
  font-family: MPLUS-R;
  z-index: 2;
}

.CoverImage {
  position: absolute;
  object-fit: cover;
  object-position: 0% 100%;
}

.Button {
  background-color: var(--accent-color);
  border-style: none;
  width: 250px;
  height: 50px;
  border-radius: 30px;
}

.ServicesCards__Section {
  position: relative;
  display: flex;
  justify-content: center;
}

.ServicesCards__List {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0 30px;
  top: -90px;
  gap: 20px;

  z-index: 3;
  flex-wrap: wrap;

}